@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap');

body {
  font-family: "Lato", sans-serif;
  margin: 0 auto;
  max-width: 1020px;
}

/* haeder */
header {
  background-color: rgb(45, 48, 58);
  height: 89px;
}

.row {
  display: -webkit-flex;
  display: flex;
}

nav {
  padding: 0 40px;
  height: 89px;
}

nav div {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.top-logo {
  padding-top: 40px;
}

.top-logo span {
  color: red;
}

.top-logo h1 {
  letter-spacing: -0.5px;
  margin: 0;
  font-size: 25px;
  height: 25px;
  font-weight: 700;
  color: white;
  line-height: 0.32;
}
.top-logo a{
  text-decoration: none;
  color: white;
}

.top-nav {
  padding-top: 45px;
  font-size: 12px;
  font-weight: 700;
  color: white;
  text-align: right;
}
.top-nav li {
  display: inline;
  padding-left: 10px;
}

.top-nav ul {
  list-style-type: none;
  line-height: 10px;
  margin: 0;
}

.top-nav a {
  text-decoration: none;
  color: white;
  line-height: 0.527;
}

.top-nav span {
  font-size: 12px;
  color: #494e62;
  padding-right: 13px;
}

.top-stip {
  height: 6px;
  background-color: #323746;
}
/* end header */

/* slider */
.slider {
  background-color: rgb(240, 108, 100);
  height: 594px;
  max-width: 100%;
  padding: 0 40px;
  align-items: center;
  z-index: 3;
}

.left-pointer {
  padding-left: 2px;
  flex-basis: 73px;
}

.ver {
}

.ph {
}
.iphone-vertical {
  z-index: 5;
  background-image: url(./assets/iPhone_vertical.png);
  background-repeat: no-repeat;
  height: 489px;
  flex-basis: 322px;
 
}


.iphone-horizontal {
    background-image: url(./assets/iPhone_horizontal.png);
    background-repeat: no-repeat;
    height: 247px;
    flex-basis: 555px;
}

.crop-ver {
  height: 333px;
  max-width: 188px;
  overflow: hidden;
  position: relative;
  top: 65px;
  left: 14px;
}

.crop img {
  margin: -41px -156px -40px -30px;
  max-width: 100%;
}

.crop-hor {
    height: 188px;
    max-width: 333px;
    width: 100%;
    overflow: hidden;
    position: relative;
    top: 14px;
    left: 60px;
  }
 
.right-pointer {
}

.out-services-stip {
  height: 6px;
  background-color: rgb(234, 103, 107);
}
/* end slider */
.our-services {
  background-color: rgb(242, 242, 242);
  max-width: 100%;
  height: 496px;
  padding: 0 20px 0 41px;
  color: #666d89;
}

.out-text-top {
  padding-top: 60px;
  height: 155px;
}

.large-text-out {
  font-size: 30px;
  font-weight: 900;
}

.small-text-out {
  font-size: 18px;
  padding-top: 20px;
  line-height: 1.667;
  font-weight: 300;
}

.our-services-container {
  display: flex;
  flex-wrap: wrap;
  height: 246px;
  padding-top: 5px;
}

.our-services-container .main-item {
  flex: 0 1 33.33%;
}
.main-item {
  height: 123px;
  display: flex;
}

.circle {
  flex-basis: 80px;
}

.sideitem {
  flex-basis: 80px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  flex-basis: 233px;
}

.item-top {
  line-height: 15px;
  min-height: 25px;
  font-size: 18px;
  font-weight: 900;
  
}

.item-bot {
  line-height: 22px;
  min-height: 90px;
  font-size: 12px;
  font-weight: 400;
}

.end-services-stip {
  height: 6px;
  background-color: rgb(255, 255, 255);
}
