@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap");
#kuku {
}
body {
  font-family: "Lato", sans-serif;
  margin: 0 auto;
  max-width: 1020px;
}

/* haeder */
header {
  background-color: rgb(45, 48, 58);
  height: 89px;
  display: flex;
  padding: 0 40px;
  justify-content: space-between;
}

.row {
  display: -webkit-flex;
  display: flex;
}

nav {
  height: 89px;
}

nav div {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.top-logo {
  padding-top: 40px;
}

.top-logo span {
  color: red;
}

.top-logo h1 {
  letter-spacing: -0.5px;
  margin: 0;
  font-size: 25px;
  height: 25px;
  font-weight: 700;
  color: white;
  line-height: 0.32;
}
.top-logo a {
  text-decoration: none;
  color: white;
}

.top-nav {
  padding-top: 45px;
  font-size: 12px;
  font-weight: 700;
  color: white;
  text-align: right;
}
.top-nav li {
  display: inline;
  padding-left: 14px;
  letter-spacing: -0.035em;
}

#navigation-bar .active {
  color: #e66962;
}

#navigation-bar a:not(.active):hover {
  color: #e66962;
  cursor: pointer;
}
.top-nav ul {
  list-style-type: none;
  line-height: 10px;
  margin: 0;
}

.top-nav a,
bottom {
  text-decoration: none;
  color: white;
  line-height: 0.527;
}

.top-nav span {
  font-size: 12px;
  color: #494e62;
  padding-right: 13px;
}

.top-stip {
  height: 6px;
  background-color: #323746;
}
/* end header */

/* slider */
.slider {
  background-color: rgb(240, 108, 100);
  height: 594px;
  padding: 0 40px;
  align-items: center;
  justify-content: space-between;
}

.left-pointer {
}

.iphone-vertical {
  background-image: url(./assets/phone-vertical.png);
  background-repeat: no-repeat;
  background-size: 93.7%, contain;
  height: 489px;
  max-width: 256px;
  width: 100%;
}

.iphone-vertical-second {
  height: 513px;
  max-width: 254px;
  width: 100%;
  background-size: 100%;
  position: relative;
}
.iphone-vertical-second img {
  position: absolute;

  top: 68px;
  left: 14px;
}
.second-slider {
  background-color: #648bf0;
  display: none;
}
.iphone-vertical-small {
  background-image: url(./assets/phone-vertical.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 314px;
  max-width: 156px;
  width: 100%;
  opacity: 0.5;
  position: relative;
  justify-content: center;
}
.iphone-vertical-small img {
  position: absolute;
  height: 217px;
  width: 122px;
  top: 42px;
  left: 9px;
}
.iphone-horizontal {
  background-image: url(./assets/phone-horizontal.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 247px;
  max-width: 484px;
  width: 100%;
}

.crop-ver {
  height: 68.4%;
  max-width: 73.3%;
  overflow: hidden;
  padding: 25% 0px 0% 5.8%;
}
.help-crop {
}
.crop img {
  margin: -41px -156px -40px -30px;
  max-width: 100%;
}

.crop-hor {
  height: 188px;
  max-width: 333px;
  width: 100%;
  overflow: hidden;
  position: relative;
  top: 14px;
  left: 60px;
}

.out-services-stip {
  height: 6px;
  background-color: rgb(234, 103, 107);
}
/* end slider */
.our-services {
  background-color: rgb(242, 242, 242);
  max-width: 100%;
  height: 494px;
  padding: 0 40px;
}

.our-services p,
.our-services h3 {
  color: #666d89;
}

.our-services p {
  padding-top: 18px;
  line-height: 1.797;
}
.out-text-top {
  padding-top: 60px;
  height: 155px;
}

.large-text-out {
  font-size: 30px;
  font-weight: 900;
}

.small-text-out {
  font-size: 18px;
  padding-top: 20px;
  line-height: 1.667;
  font-weight: 300;
}

.our-services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 44px;
}

.main-item {
  margin-bottom: 38px;
  height: 85px;
  display: flex;
  float: left;
  flex-basis: 300px;
}

.circle {
  /* flex-basis: 80px; */
  height: 60px;
  width: 60px;
}

.sideitem {
  /* flex-basis: 80px; */
  /* flex-shrink: 0; */
  display: flex;
  flex-direction: column;
  /* flex-basis: 233px; */
  overflow: hidden;

  margin-left: 21px;
}

.sideitem h4 {
  line-height: 15px;
  min-height: 25px;
  font-size: 18px;
  font-weight: 700;
  color: #666d89;
  margin: 0;
}
.sideitem p {
  padding: 0;
  line-height: 22px;
  min-height: 90px;
  font-size: 12px;
  font-weight: 400;
  color: #666d89;
  text-align: justify;
  width: 219px;
}
.item-top {
  line-height: 15px;
  min-height: 25px;
  font-size: 18px;
  font-weight: 900;
}

.item-bot {
  line-height: 22px;
  min-height: 90px;
  font-size: 12px;
  font-weight: 400;
}

.end-services-stip {
  height: 6px;
  background-color: rgb(255, 255, 255);
}

.portfolio-wrapper {
  background-color: #2d303a;
  height: 863px;
  padding: 0 40px;
}

.portfolio-head {
}

h3 {
  font-size: 30px;
  color: rgb(102, 109, 137);
  font-weight: 600;
  margin: 0;
  padding-top: 60px;
}
.portfolio-text {
  padding-top: 19px;
}

.portfolio-wrapper p {
  color: rgb(102, 109, 137);
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  line-height: 30px;
}

.portfolio-seleciton-block {
  display: flex;
  padding-top: 11px;
}
.portfolio-seleciton-block ul {
  list-style-type: none;
  overflow: visible;
}
.portfolio-seleciton-block li {
  display: inline;

  border: 1px solid;
  border-radius: 5px;
  font-size: 12px;
  padding: 2px 7px;
  margin-right: 7px;
  font-weight: 300;
  cursor: pointer;
}
.tag_selected {
  color: #e66962;
}
.tag_bordered {
  color: rgb(102, 109, 137);
}
.portfolio-seleciton-block li:not(.active):hover {
  color: #e66962;
  cursor: pointer;
}
.portfolio-seleciton-block a p {
  font-weight: 400;
  font-size: 12px;
}
.portfolio-pictures {
  margin-top: 23px;
  height: 621px;
  overflow: hidden;
}
.portfolio-pictures ul {
  justify-content: space-between;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.portfolio-pictures ul li {
  display: inline;
  height: 207px;
}
.portfolio-pictures ul li img {
  width: 220px;
  height: 187px;
}

.partfolio-stip {
  height: 6px;
  background-color: #323746;
}

.about-wrapper {
  padding: 0 40px;
  height: 728px;
  background-color: #f2f2f2;
}

.about-article {
  padding-top: 18px;
  line-height: 1.667;
}

.about-article p {
  color: rgb(102, 109, 137);
  text-align: justify;
  padding-right: 20px;
}

.about-portfolio {
  display: flex;
  justify-content: space-between;
  padding-top: 46px;
}

.about-person {
  max-width: 300px;
  margin-left: 10px;
}

.about-person:first-child {
  margin: 0px;
}
.about-person img {
  width: 100%;
}

.about-person h4 {
  color: rgb(102, 109, 137);
  margin: 15px 0px 0px 0px;
  font-size: 18px;
  height: 15px;
  line-height: 0.992;
  overflow: hidden;
}

.about-person p {
  color: rgb(102, 109, 137);
  margin-top: 12px;
  font-size: 12px;
  font-weight: 400;
  height: 42px;
  line-height: 1.797;
  overflow: hidden;
  text-align: justify;
}

.social-media {
  display: flex;
  margin-top: 24px;
}
.social-media a {
  width: 100%;
  max-width: 32px;
  height: 33px;
  margin-right: 8px;
  background-size: 100%, 100%, contain;
}
.person-facebook {
  background-image: url(./assets/social-img/facebook.png);
}
.person-google {
  background-image: url(./assets/social-img/google.png);
}

.person-twitter {
  background-image: url(./assets/social-img/twitter.png);
}

.person-linkedin {
  background-image: url(./assets/social-img/linkedin.png);
}

.person-facebook,
.person-google,
.person-twitter,
.person-linkedin {
  background-repeat: no-repeat;
}

.about-stip {
  height: 6px;
  background-color: #ffffff;
}

.quote-wrapper {
  background-color: #f06c64;
  height: 648px;
  padding: 0 40px;
}

.quote-strip {
  background-color: #ea676b;
  height: 6px;
}

.quote-wrapper h3 {
  font-size: 30px;
  color: #f0d8d9;
  font-weight: 900;
  margin: 0;
  padding-top: 60px;
}

p {
  color: #f0d8d9;
  font-size: 18px;
  font-weight: 300;
  margin: 0;
}

.quote-wrapper p {
  padding-top: 19px;
  line-height: 30px;
}

.form-quote {
  display: flex;
  flex-direction: column;
  max-width: 619px;
}

.form-quote input[type] {
  padding: 0px;
  /* padding-left: 16px; */
}
.form-quote input {
  height: 38px;
}
.form-quote input,
textarea {
  margin-bottom: 16px;
  border: none;
  border-radius: 5px;
  background-color: rgb(214, 86, 79);
  font-family: "Lato";
  font-size: 12px;
  color: #f0d8d9;
  font-weight: 400;
}

textarea {
  height: 202px;
  resize: none;
  padding: 0;
}
::placeholder {
  padding: 9px 10px 10px 15px;
  color: #f0d8d9;
  font-size: 12px;
  font-weight: 300;
  margin: 0;
  color: #f2898b;
  font-weight: 400;
}
.content-inner {
  display: flex;
  padding-top: 44px;
}

.content-right {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  padding-left: 20px;
}

.content-right h4 {
  margin: 0;
  font-size: 18px;
  color: rgb(240, 216, 217);
  font-weight: 600;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.content-right a {
  text-decoration: none;
}

.content-right ul {
  padding-top: 24px;
}
.content-location {
  background-image: url(./assets/content-img/location.png);
  background-position: 3px 4px;
}
.content-phone {
  background-image: url(./assets/content-img/phone.png);
  background-position: 1px 4px;
}
.content-mail {
  background-image: url(./assets/content-img/mail.png);
  background-position: 0px 8px;
}

.content-right ul li {
  background-repeat: no-repeat;
  padding-left: 22px;
  height: 21px;
}

.content-right li p {
  padding: 0;
}
.content-right p {
  font-size: 12px;
  color: rgb(240, 216, 217);
  text-align: justify;
  line-height: 1.797;
  padding-top: 8px;
}
.content-left {
  flex-basis: 622px;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  max-width: 260px;
  height: 250px;
  max-height: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f06c64;
  border-radius: 5px;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
  padding: 20px;
  color: #f0d8d9;
  font-size: 12px;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal .close-button {
  border-radius: 5px;
  border: 0;
  background: rgb(214, 86, 79);
  color: #f0d8d9;
  margin: 10px;
  cursor: pointer;
}

.modal #description__letter{
  height: 100px;
  width: auto;
  overflow: auto;
  word-break: break-all;
}
#name-check{
  display: none;
  margin-bottom: 41px;
  padding-top: 12px;
  font-size: 12px;
  line-height: 1;
  letter-spacing: -0.2px;
  text-align: center;
}

.check-change__color::placeholder {
  color: rgb(85, 2, 2);
}
footer {
  background-color: #2d303a;
  height: 76px;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}
.copyright {
  font-size: 12px;
  padding-top: 30px;
  color: #666d89;
  font-weight: 400;
}

.media-footer {
  float: right;
  padding: 22px 0px 0px 0px;
}

.media-footer li {
  float: right;
  padding-left: 8px;
  width: 32px;
  height: 32px;
}
.media-footer li a {
  display: block;
  height: 100%;

  padding: 10px;
}
.person-facebook {
  background-image: url(./assets/social-img/facebook.png);
}
.person-google {
  background-image: url(./assets/social-img/google.png);
}

.person-twitter {
  background-image: url(./assets/social-img/twitter.png);
}

.person-linkedin {
  background-image: url(./assets/social-img/linkedin.png);
}

@media screen and (max-width: 768px) and (min-width: 376px) {
  .slider {
    height: 447px;
    padding: 0 30px;
  }
  .iphone-vertical {
    background-size: contain;
    height: 381px;
    max-width: 180px;
  }

  .iphone-horizontal {
    height: 189px;
    max-width: 363px;
    width: 100%;
  }

  .crop-ver {
    height: 65.6%;
    max-width: 78.5%;
    margin: 49px 0px 0px 10px;
    padding: 0;
  }

  .crop-hor {
    height: 142px;
    max-width: 250px;
    top: 10px;
    left: 45px;
  }
  .our-services {
    height: 674px;
  }
  .our-services h3 {
    padding-top: 39px;
  }
  .our-services-container {
    justify-content: space-evenly;
    margin-top: 28pxl;
  }

  .portfolio-wrapper {
    height: 1096px;
  }
  .portfolio-text {
    padding-top: 14px;
  }
  .portfolio-pictures {
    margin-top: 26px;
    height: 810px;
  }
  .portfolio-pictures ul li img {
    width: 216px;
  }

  .about-wrapper {
    height: 663px;
  }
  .about-wrapper h3 {
    padding-top: 40px;
  }
  .about-person {
    max-width: 218px;
  }
  .about-person p {
    height: 72px;
  }

  .social-media {
    margin-top: 14px;
  }
  .quote-wrapper h3 {
    padding-top: 53px;
  }
  .content-inner {
    padding-top: 19px;
  }
  .content-right ul li {
    background-repeat: no-repeat;
    padding-left: 22px;
    height: 21px;
  }
}

@media screen and (max-width: 375px) {
  .slider {
    height: 218px;
    padding: 0 10px;
  }
  .iphone-vertical {
    background-size: contain;
    height: 168px;
    max-width: 79px;
  }

  .iphone-horizontal {
    height: 79px;
    max-width: 168px;
    width: 100%;
  }

  .crop-ver {
    height: 65.4%;
    max-width: 79.3%;
    margin: 21px 0px 0px 4px;
    padding: 0;
  }

  .crop-hor {
    height: 61px;
    max-width: 109px;
    top: 5px;
    left: 20px;
  }
  .our-services {
    height: 1034px;
  }

  .portfolio-wrapper {
    height: 844px;
    padding: 0 30px;
  }
  .portfolio-pictures {
    height: 565px;
  }
  .portfolio-pictures ul li {
    height: 142px;
  }
  .portfolio-pictures ul li img {
    width: 151px;
    height: 128px;
  }
  .about-wrapper {
    height: 1754px;
    padding: 0 30px;
  }
  .about-wrapper h3 {
    padding-top: 33px;
  }

  .about-portfolio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 46px;
  }

  .about-person {
    width: 100%;
    margin: 0;
    margin-top: 34px;
  }
}
